body{
    height: 100%;
    background-repeat: no-repeat;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%)
}

nav{
    font-family: Lato;
    box-shadow: 3px 3px 3px rgb(13, 119, 161);
    background-color: rgba(122,221,244,1);
    background: linear-gradient(180deg, rgba(122,221,244,1) 10%, #ffdee9 90%);
}

#whatis{
    font-family: 'Proza Libre', sans-serif;
    text-align: center;
    
}

#ready{
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 25px;   
}

#whats{
    text-align: start;
    margin-top: 10vh;
    margin-bottom: 25px;
    background-color: #FFDEE9;
    padding: 15px;
    border: solid 2px black;
    
}

#yoga1{
    width: auto;
    max-height: 50vh;
    border-radius: 50%;
    margin: 10px;
}

#foot{
    font-family: Lato;
    text-align: center;
    background-color: rgba(122,221,244,1);
    background: linear-gradient(180deg, #FFDEE9 10%,rgba(122,221,244,1) 90%);
    padding: 20px;
    margin-top: 10px;
}

#signinbtn{
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    color: black;
    font-family: Lato;
    max-width: 90px;
    height: auto;
    margin: 15px;
    
}

#regbtn{
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    color: black;
    font-family: Lato;
    max-width: 90px;
    height: auto;
    margin: 15px;
}

#scfacts{
    margin: 25px;
    
}

#park{
    max-width: 40vw;
    padding: 15px;
    margin: 25px;
    font-family: 'Proza Libre', sans-serif;
}
